/* =============== Google Font =============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =============== Home Page =============== */
#home-container {
    -fx-background-image: url("https://raw.githubusercontent.com/xyzuan/modul6/main/src/main/resources/id/xyzprjkt/modul6/img/landingBg.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-family: "Poppins", sans-serif;
}

#intro-container {
    -fx-min-width: 640px;
    -fx-min-height: 720px;
    -fx-alignment: center;
    -fx-vgap: 2em;
}

#intro-title {
    -fx-font-size: 4em;
    -fx-font-weight: 800;
    -fx-fill: #1A1A1A;
}

#intro-text {
    -fx-fill: #2D2D2D;
    -fx-font-size: 1.5em;
    -fx-line-spacing: .5em;
    -fx-font-weight: 700;
}

#timetable-btn {
    -fx-background-color: #1A1A1A;
    -fx-padding: .75em 4em;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 24px;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #1A1A1A;
    -fx-border-radius: 24px;
    -fx-cursor: hand;
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 1.5em;
    -fx-font-weight: 700;
}

#timetable-btn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #1A1A1A;
    -fx-border-color: #1A1A1A;
    -fx-border-radius: 24px;
}

/* =============== Main Container =============== */
#main-container {
    -fx-background-image: url("https://raw.githubusercontent.com/xyzuan/modul6/main/src/main/resources/id/xyzprjkt/modul6/img/landingBg.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-family: "Poppins", sans-serif;
}

#header-container {
    -fx-padding: 48px 48px 28px 48px;
    -fx-font-size: 3.5em;
    -fx-font-weight: 700;
}
#table-container {
    -fx-min-width: 880px;
    -fx-max-width: 880px;
    -fx-min-height: 390px;
    -fx-padding: 0 48px 0 48px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;
}

.table-row-cell:filled:hover {
    -fx-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER

}

#input-field {
    -fx-font-size: 1em;
    -fx-pref-height: 47px;
    -fx-pref-width: 250px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-padding: 0px 28px 0px 28px;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 24px;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

#input-field-text {
    -fx-vgap: 1em;
    -fx-hgap: 1em;
    -fx-font-size: 1em;
    -fx-font-weight: 700;
}

#button {
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 24px;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-color: #1A1A1A;
    -fx-border-radius: 24px;
    -fx-cursor: hand;
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 1em;
    -fx-font-weight: 700;
}